body {
    background-color: black;
}
h1 {
    border: 1px solid white;
    width: 300px;
    color: aliceblue;
    font-size: xx-large;
}

h2{
    color: aliceblue;
}

form{
    color: aliceblue;
}
form2{
    color: aliceblue;
}
ol{
    color: aliceblue;
}

